*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    

   
}

html{
    scroll-behavior: smooth;
}


body{
    background-color:#232323;
    font-family:'Monserrat', sans-serif;
    color: #122829;
}

.main-container{
    width: 100%;

}
.container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin:0 auto;

}

header{
    background-color:#232323;
    color:rgb(241, 241, 241);
    padding: 1em 0;
    position: relative;
   

}


header::after {
    content:'' ;
    clear: both;
    display: block;
}

.logo{
    float:left;
    font-size: 1rem;
    margin: 0;
    font-weight: 700;
    color: #122829;

}

.logo img{
    width: 2rem;
    display: flexbox;
    justify-content: left;
    margin-right: 8px;
    margin-left: 24px;
}

.logo span{
    font-weight: 300;
   
}

.site-nav {
    top:100%;
    right: 0;
    position: absolute;
    background-color:#262626;
    overflow: hidden;
    clip-path: circle(0px at top right);
    transition:clip-path ease-in-out 700ms;


}

.site-nav-open{
    clip-path: circle(150% at top right);
}

.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
   


}

.site-nav ul li a{
    font-family:'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.site-nav li{
    border-bottom: none;
}

.site-nav li:last-child{
   border-bottom:none;
}

.site-nav a{
    color:#FAFAFA;
    display: block;
    padding: .5em 3em;
    text-transform:uppercase;
    text-decoration: none;
    
   
   
    

}

.site-nav a:hover,
.site-nav a:focus{
    background:#17292b;
    border-radius: 50px;
    color: #04CFCF;
    font-family:'Poppins', sans-serif;
   
}

.menu-toggle{
    
    padding:1em;
    position: absolute;
    top:1.2em;
    right: .2em;
}

.menu-open .hamburguer{
    transform: rotate(45deg)
}

.menu-open .hamburguer::before{
    opacity:0
}

.menu-open .hamburguer::after{
   transform: translateY(-3px)rotate(-90deg);
}

.hamburguer,
.hamburguer::before,
.hamburguer::after{
    content: '';
    display: block;
    background: #FAFAFA;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;

}

.hamburguer::before{
    transform: translateY(-6px);
}

.hamburguer::after{
    transform: translateY(3px);
}


     

/* ************************ */





.cuerpo-principal{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    

}


main{
    margin: 0;
    padding-top: 0rem;
    background-color:#232323;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-image: url(../Img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
   
  

}


main .text{
    margin: 0;
    color: #232323;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 100px;
    
   
    
   
   
}


main .text h1{
    margin: 0;
    padding:0;
    font-family:'Montserrat', sans-serif;
    font-size: 3em;
    font-weight:bolder;
    color: #FAFAFA;
    font-weight: lighter;
    text-align:justify;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 16px;
    width: 80%;
    border-radius: 20px;
    line-height: 1em;

    
}



main .text h4{
    font-family:'Poppins', sans-serif;
    font-size: 1em;
    font-weight:lighter;
    color: #04CFCF;
    font-weight: lighter;
    text-align:left;
    margin-left: 32px;
    padding-right: 24px;
    padding-top: 24px;
    width: 80%;
}


main .text button{
    background-color:#232323;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 16px;
    display:flex;
    margin-left: 34px;
    padding:8px 32px;
    display: flex;
    flex-direction: row;
    color: #04CFCF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
    border:solid #04CFCF 2px;
   

     
}

.text .ver-más{
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: row;
}

main .text button:hover{
    background-color:#135b5f;
    color: #FAFAFA;
}







/* ************************ */




#projects{
    background-color:#2D2C2C;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 48px;
    min-height: 400PX;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    
}
 


.subtitulo h1{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight:500;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 32px;
    line-height: 1.3em;
    
    
   
}

#section-projects{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    


    
    
    
}

.layout{
    background-color: rgba(105, 105, 105, 0.3);
    border-radius: 20px;
    color:#e1e9e9 ;
    padding-bottom: 16px;
}

.layout h2{
    font-size: 1.3rem;
    color:#FAFAFA ;
    font-family:'Montserrat', sans-serif;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
    font-weight:500;
}
.layout h4{
    color: #d3d3d3;
}

.layout h3{
    color:#d3d3d3;
    font-weight: 600;
    padding-top: 40px;
}



.layout-left{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 24px;
    width: 350px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    box-shadow: 2px,2px,10px rgba(0,0,0,0,5);
   
    

  
}


.layout-left h2{
    margin: 0;
    padding-left:16px;
    text-align:left;
    flex-direction:column;
    
   
}

.layout-left h3{
    font-size: 18px;
    padding-top: 16px;
    padding-bottom:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   
   
}

.layout-left h4{
    font-size: 16px;
    font-weight:lighter;
    padding-right: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding-left: 16px;
    line-height: 1.5rem;
   

   
}

.layout button{
    font-size: 18px;
    border: 0;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 20px;
    color: #04CFCF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
    background-color:  rgba(68, 67, 67, 0.7); 
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 16px;
    box-shadow: #17292b;
    border:solid #04CFCF 1px;;
   
}

.layout .uno{
    background-color:#04CFCF;
    color:#2D2C2C;
    border: none;
    padding: 10px 32px;
}








.layout-left .text .ver-mas{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    
}





.layout-left .background{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.layout-left .image{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;




    
}



.layout-right{

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 24px;
    width: 350px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    box-shadow: 2px,2px,10px rgba(0,0,0,0,5);
    

  
}


.layout-right h2{
    margin: 0;
    padding-left:16px;
    text-align:left;
    flex-direction:column;
    
   
   
}

.layout-right h3{
    font-size: 18px;
    padding-bottom:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   
   
}

.layout-right h4{
    font-size: 16px;
    font-weight:lighter;
    padding-right: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding-left: 16px;
    line-height: 1.5rem;

   
}



.layout-right .text .ver-mas{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    
}





.layout-right .background{
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-right .background .image{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;




    
}



.layout-centre{

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 24px;
    width: 350px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    box-shadow: 2px,2px,10px rgba(0,0,0,0,5);
    

  
}


.layout-centre h2{
    margin: 0;
    padding-left:16px;
    text-align:left;
    flex-direction:column;
   
    
   
   
}

.layout-centre h3{
    font-size: 18px;
    padding-bottom:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
   
   
}

.layout-centre h4{
    font-size: 16px;
    font-weight:lighter;
    padding-right: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding-left: 16px;
    line-height: 1.5rem;

   
}

.layout-centre button{
    font-size: 18px;
    border: 0;
    font-weight: bold;
    border-radius: 20px;
    color: #e4e4e4;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
    background-color:rgba(105, 105, 105, 0.3); 
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 16px;
    box-shadow: #272626;
    padding: 10px 32px;
   
   
    
}

.layout-centre .text .ver-mas{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    
}





.layout-centre .background{
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-centre .background .image{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;




    
}


.sec{
   
    display: flex;
    align-items: center;
    
    background-color:#232323;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
   

}

.sec-container h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    padding-top: 24px;
    color: #04CFCF;
}

.sec-container h3{
    font-family: 'Poppins';
    font-size: 16px;
    color: #d3d3d3;
    padding-top: 16px;
}



.sec form button{
    font-size: 18px;
    border: 1px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 20px;
    color: #04CFCF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
    background-color:#232323;
    border: solid #04CFCF 2px;
    cursor: pointer;
    margin-top: 56px;
    box-shadow: #122829;
 }



.sec form button:hover{
    background-color:#135b5f;
    color: #FAFAFA;
}




 

.sec ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 24px;

}

.sec img{
    width: 1.5rem;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.sec ul li a{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    margin:8px;
    background-color: rgba(51, 50, 50, 0.3);
    padding: 12px;
    border-radius: 10px;


   
}





.footer{
    background-color: #3d3d3d;
    color: #F8F8F8;
    text-align: center;
    font-size: 14px;
    padding-top:2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    display: flex;
    align-content: center;
    justify-content: flex-end;   
    align-items: center;


}



@media screen and (min-width: 780px){
  
        .menu-toggle{
            display:none
        }
      
       header{
           position: fixed;
           width: 100%;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content:space-between

           
        }
        
        .site-nav{
            height: auto;
            position: relative;
            float: right;
            clip-path: initial;
            background-color: transparent;
            justify-content:right;
            margin-left: 200px;
           
             
        }

       
      
        .site-nav li{
            display:inline-block;
            border:none;
            margin-right: 24px;
           
           
      
        }
      
      


         .site-nav a{
             padding: 10px 24px;
             font-size: 24px;
        
         }
         
      
         .site-nav a:hover,
          .site-nav a:focus{
          border-radius: 50px;
          font-family:'Poppins', sans-serif;}

         
      .logo img{
     width:50px;
     margin-left: 56px;
     }

  .container{
    width: 2rem;
    margin:0;
    justify-content: flex-start;
   
    
}
    main{
        display: flex;
        margin: 0;
       
        padding: 56px;
        height: 80%;
        padding-top: 12rem;
       
     
        
       
    
    }

    main .text{
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;

    }




    main .text h1{
     margin: 0;
     padding: 0;
     padding-top: 32px;
     font-size: 8rem;
     padding-left:80px;
     
    }
    
    


    main .text h4{
        font-size: 1.5rem;
        text-align: left;
        padding-left: 60px;
        padding-top: 56px;
        padding-bottom: 60px;
        width: 55%;
        min-width: 40%;
  
    }


    main .text button{
      margin-left: 88px;
      margin-top: 0;
      margin-bottom: 80px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 24px;
      padding: 16px 40px;
      border-radius: 30px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
      cursor: pointer;
      
     
   }

   main .text button:hover{
    
    font-weight: 500;
    border: none;
    padding: 18px 44px;
  
    }
    


    /********/


    #projects h1{
        font-size: 4rem;
        font-weight:400;
        padding-top: 4rem;
        padding-bottom: 3.5rem;
    }

    #projects{
        padding-bottom:6rem;
    }
    .section-projects{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: 300px;
    
    }

    .layout-left h3{
        padding-top: 40px;
    }


/*****************/

  .sec{
    display: flex;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
 .sec h2{
     font-size: 5rem;
     font-weight: 400;
     padding: 2rem 0;
 }


  .sec h3{
      font-size: 2rem;
     
  }

  .sec form button{
        margin-bottom: 20px;
        margin-top: 100px;
        font-size: 24px;
        padding: 16px 40px;
        border-radius: 30px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0,5);
        cursor: pointer;
       
        
       
     }

    
    .sec form button:hover{
    
        font-weight: 500;
        border: none;
        padding: 18px 44px;
    }
  


.sec img{
    width: 2.5rem;
    font-size: 16px;
    
}

.sec ul li a{
    
    margin:24px;
   
    padding: 24px;
    border-radius: 10px;


   
}

.footer {
    font-size: 18px;

}


}